.ToolbarFrame {
}

.FirstPanel {
  margin-bottom: 0.5rem;
  background-color:lightgray;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SecondPanel {
  background-color: darkblue;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}